<section>
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <figure class="mb-20">
                    <img class="img-fluid" src="demo_files/images/mockups/800x553/17-min.jpg" alt="service">
                </figure>

                <h4 class="mb-0">WHY SMARTY?</h4>
                <small class="font-lato fs-18 mb-30 block">Because we are the best</small>
                <p class="text-muted fs-14">Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro.</p>

                <a href="#">
                    Read
                    <!-- /word rotator -->
                    <span class="word-rotator active" data-delay="2000" style="height: 24px;">
                        <span class="items" style="top: -24px;">
                            <span>more</span>
                            <span>now</span>
                            <span>more</span>
                        </span>
                    </span><!-- /word rotator -->
                    <i class="glyphicon glyphicon-menu-right fs-12"></i>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <figure class="mb-20">
                    <img class="img-fluid" src="demo_files/images/mockups/800x553/18-min.jpg" alt="service">
                </figure>

                <h4 class="mb-0">SMARTY MISSION</h4>
                <small class="font-lato fs-18 mb-30 block">To be best of the best</small>
                <p class="text-muted fs-14">Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro.</p>

                <a href="#">
                    Read
                    <!-- /word rotator -->
                    <span class="word-rotator active" data-delay="2000" style="height: 24px;">
                        <span class="items" style="top: -24px;">
                            <span>more</span>
                            <span>now</span>
                            <span>more</span>
                        </span>
                    </span><!-- /word rotator -->
                    <i class="glyphicon glyphicon-menu-right fs-12"></i>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <figure class="mb-20">
                    <img class="img-fluid" src="demo_files/images/mockups/800x553/3-min.jpg" alt="service">
                </figure>

                <h4 class="mb-0">OUR CONCEPT</h4>
                <small class="font-lato fs-18 mb-30 block">It's very simple but powerful</small>
                <p class="text-muted fs-14">Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro.</p>

                <a href="#">
                    Read
                    <!-- /word rotator -->
                    <span class="word-rotator active" data-delay="2000" style="height: 24px;">
                        <span class="items" style="top: -24px;">
                            <span>more</span>
                            <span>now</span>
                            <span>more</span>
                        </span>
                    </span><!-- /word rotator -->
                    <i class="glyphicon glyphicon-menu-right fs-12"></i>
                </a>
            </div>
        </div>
    </div>
</section>