<!DOCTYPE html>
<html>
<head>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43988280-6', 'auto');
        ga('send', 'pageview');
    </script>
    <meta charset="utf-8" />
    <title>finXpro</title>
    <meta name="description" content="Convert PDFs to Excel in seconds." />
    <link rel="canonical" href="finexpro.com" />
    <link rel="icon" type="image/x-icon" href="~/images/finXproLogoSmall.png">
    <meta property="og:image" content="http://finxpro.com/images/finXproCover.png" />
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <environment include="Development">

        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="~/assets/css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/layout.css" rel="stylesheet" type="text/css" />

        <!-- PAGE LEVEL SCRIPTS -->
        <link href="~/assets/css/header-1.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

        @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common-fiori.min.css" />
            <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.fiori.min.css" />
            <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.fiori.mobile.min.css" />*@
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link href="~/lib/PACE/themes/green/pace-theme-minimal.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    <script type="text/javascript">
 //<![CDATA[
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
    </script>
</head>
<body class="smoothscroll enable-animation">

    <!-- SLIDE TOP -->
    <div id="slidetop" style="display:none">

        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <h6><i class="icon-heart"></i> WHY SMARTY?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
                </div>

                <div class="col-md-4">
                    <h6><i class="fa fa-check"></i> RECENTLY VISITED</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                    <ul class="list-unstyled">
                        <li><b>Address:</b> Sofia, <br /> Bulgaria</li>
                        <li><b>Email:</b> <a href="mailto:office@finXpro.com">office@finXpro.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <a class="slidetop-toggle" href="#"><!-- toggle button --></a>
    </div>
    <!-- /SLIDE TOP -->
    <!-- wrapper -->
    <div id="wrapper">
        <div id="topBar">
            <div class="container">

                <!-- right -->
                <ul class="top-links list-inline pull-right">
                    @*<li class="text-welcome">Welcome to Pdf to Excel!</li>*@
                    <li class="text-welcome"><span id="spanTime"></span></li>
                    <!--<li>
                        <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><i class="fa fa-user hidden-xs"></i> MY ACCOUNT</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
                        </ul>
                    </li>-->
                    @*<li><a asp-controller="Account" asp-action="Login">LOGIN</a></li>*@
                    @await Html.PartialAsync("_LoginPartial")
                    <!--<li><a href="page-register-1.html">REGISTER</a></li>-->
                </ul>
            </div>
        </div>

        <!--
            AVAILABLE HEADER CLASSES

            Default nav height: 96px
            .header-md 		= 70px nav height
            .header-sm 		= 60px nav height

            .noborder 		= remove bottom border (only with transparent use)
            .transparent	= transparent header
            .translucent	= translucent header
            .sticky			= sticky header
            .static			= static header
            .dark			= dark header
            .bottom			= header on bottom

            shadow-before-1 = shadow 1 header top
            shadow-after-1 	= shadow 1 header bottom
            shadow-before-2 = shadow 2 header top
            shadow-after-2 	= shadow 2 header bottom
            shadow-before-3 = shadow 3 header top
            shadow-after-3 	= shadow 3 header bottom

            .clearfix		= required for mobile menu, do not remove!

            Example Usage:  class="clearfix sticky header-sm transparent noborder"
        -->
        <div id="header" class="sticky clearfix header-light header-sm">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- BUTTONS -->
                    <ul class="pull-right nav nav-pills nav-second-main"></ul>
                    <!-- /BUTTONS -->
                    <!-- Logo -->
                    <!--<a class="logo pull-left" href="index.html">
                      Home
                    </a>-->
                    <!--
                        Top Nav

                        AVAILABLE CLASSES:
                        submenu-dark = dark sub menu
                    -->
                    <div class="navbar-collapse pull-right nav-main-collapse collapse">
                        <nav class="nav-main">

                            <!--
                                NOTE

                                For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                Direct Link Example:

                                <li>
                                    <a href="#">HOME</a>
                                </li>
                            -->
                            <ul id="topMain" class="nav nav-pills nav-main">
                                <li class="dropdown">
                                    <a href="/">Home</a>
                                </li>
                                @*<li class="dropdown">
                                        <a href="/aboutus">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/services">Services</a>
                                    </li>*@
                                <li class="dropdown">
                                    <a href="/convert">FinX Convert</a>
                                </li>
                                <li>
                                    <script language="JavaScript" type="text/javascript">
                                            TrustLogo("https://finxpro.com/images/comodo_secure_seal_76x26_transp.png", "CL1", "none");
                                    </script>
                                    @*<a href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>*@
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- /Top Nav -->
        </div>

        <!--
            PAGE HEADER

            CLASSES:
                .page-header-xs	= 20px margins
                .page-header-md	= 50px margins
                .page-header-lg	= 80px margins
                .page-header-xlg= 130px margins
                .dark			= dark page header

                .shadow-before-1 	= shadow 1 header top
                .shadow-after-1 	= shadow 1 header bottom
                .shadow-before-2 	= shadow 2 header top
                .shadow-after-2 	= shadow 2 header bottom
                .shadow-before-3 	= shadow 3 header top
                .shadow-after-3 	= shadow 3 header bottom
                .light			= light page header
        -->
        <!--<section class="page-header">
            <div class="container">

                <h1>PAGE TITLE</h1>
                <span class="font-lato size-18 weight-300">We believe in Simple &amp; Creative</span>

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li class="active">Page Title</li>
                </ol>
            </div>
        </section>-->
        <!-- /PAGE HEADER -->
        @RenderBody()
        <!-- FOOTER -->
        <footer id="footer" class="footer-light">
            <div class="container">

                <div class="row">

                    <div class="col-md-6 center center-block">
                        <!-- Footer Logo -->
                        <!-- Contact Address -->
                        <h4 class="letter-spacing-1">ADDRESS</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li class="footer-sprite address">
                                    Sofia<br>
                                    Bulgaria<br>
                                </li>
                                <li class="footer-sprite phone">
                                </li>
                                <li class="footer-sprite email">
                                    <a href="mailto:office@finxpro.com">office@finxpro.com</a>
                                </li>
                            </ul>
                        </address>
                        <!-- /Contact Address -->
                    </div>
                    <div class="col-md-6">
                        <script language="JavaScript" type="text/javascript">
                                            TrustLogo("https://finxpro.com/images/comodo_secure_seal_100x85_transp.png", "CL2", "none");
                        </script>
                        <a href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
                    </div>
                    @*
                        <div class="col-md-3">

                            <h4 class="letter-spacing-1">EXPLORE FINXPRO.COM</h4>
                            <ul class="footer-links list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/aboutus">About Us</a></li>
                                    <li><a href="/services">Services</a></li>
                                                <li><a href="/convert">FinX Convert</a></li>
                                            </ul>
                                        </div>*@
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <ul class="pull-right nomargin list-inline mobile-block">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    &copy; All Rights Reserved, finXpro
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->
    </div>
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = '/assets/plugins/';</script>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

    <script type="text/javascript" src="assets/plugins/effects/canvas.particles.js"></script>

    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <environment include="Development">
        @*<script src="~/lib/PACE/pace.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/jszip.min.js"></script>
            <script src="~/js/kendo.all.min.js"></script>
            <script src="~/js/kendo.aspnetmvc.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)

    @Html.Kendo().DeferredScripts()

</body>
</html>