<section>
    <div class="container">

        <div class="row">

            <!-- LEFT COLUMNS -->
            <div class="col-md-9">

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus magnis.</p>

                <!-- TOGGLES -->
                <div class="toggle toggle-transparent toggle-bordered-full margin-top-60">

                    <div class="toggle">
                        <!-- toggle -->
                        <label>1. Nulla lacinia iaculis nulla non pulvinar?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                <img class="hidden-sm pull-left img-responsive" src="demo_files/images/girl_looking-min_thumb.jpg" alt="Careers">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>2. Lacinia iaculis nulla non pulvinar?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                            <div class="row">

                                <div class="col-md-4 col-sm-6">

                                    <ul class="list-icon check-square">
                                        <!-- block 2 -->
                                        <li>Nulla lacinia iaculis nulla</li>
                                        <li>Cum sociis natoque penatibus</li>
                                        <li>Magnis dis parturient montes</li>
                                    </ul>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <ul class="list-icon check-square">
                                        <!-- block 2 -->
                                        <li>Nulla lacinia iaculis nulla</li>
                                        <li>Cum sociis natoque penatibus</li>
                                        <li>Magnis dis parturient montes</li>
                                    </ul>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <ul class="list-icon check-square">
                                        <!-- block 2 -->
                                        <li>Nulla lacinia iaculis nulla</li>
                                        <li>Cum sociis natoque penatibus</li>
                                        <li>Magnis dis parturient montes</li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>3. Quisque rutrum pellentesque imperdiet?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                            <div class="row">

                                <div class="col-md-4 col-sm-6">

                                    <div class="box-content thumbnail text-center">
                                        <a href="demo_files/images/1200x800/10-min.jpg" class="item-image lightbox" data-plugin-options="{&quot;type&quot;:&quot;image&quot;}">
                                            <img class="img-responsive" src="demo_files/images/451x300/10-min.jpg" alt="">
                                        </a>
                                    </div>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <div class="box-content thumbnail text-center">
                                        <a href="http://www.youtube.com/watch?v=s0MDY9fl-IA" class="item-image lightbox" data-plugin-options="{&quot;type&quot;:&quot;iframe&quot;}">
                                            <img class="img-responsive" src="demo_files/images/451x300/11-min.jpg" alt="">
                                        </a>
                                    </div>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <div class="box-content thumbnail text-center">
                                        <a href="demo_files/images/1200x800/25-min.jpg" class="item-image lightbox" data-plugin-options="{&quot;type&quot;:&quot;image&quot;}">
                                            <img class="img-responsive" src="demo_files/images/451x300/25-min.jpg" alt="">
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>4. Iaculis nulla non pulvinar?</label>
                        <div class="toggle-content">
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>5. Lorem ipsum dolor sit amet, consectetur?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>6. Cum sociis natoque penatibus et magnis?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>7. Ut eu risus enim, ut pulvinar lectus?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>8. Nulla lacinia iaculis nulla non pulvinar?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                <img class="hidden-sm pull-left img-responsive" src="demo_files/images/girl_looking-min_thumb.jpg" alt="">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>9. Lacinia iaculis nulla non pulvinar?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                            <div class="row">

                                <div class="col-md-4 col-sm-6">

                                    <ul class="list-icon check-square">
                                        <!-- block 2 -->
                                        <li>Nulla lacinia iaculis nulla</li>
                                        <li>Cum sociis natoque penatibus</li>
                                        <li>Magnis dis parturient montes</li>
                                    </ul>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <ul class="list-icon check-square">
                                        <!-- block 2 -->
                                        <li>Nulla lacinia iaculis nulla</li>
                                        <li>Cum sociis natoque penatibus</li>
                                        <li>Magnis dis parturient montes</li>
                                    </ul>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <ul class="list-icon check-square">
                                        <!-- block 2 -->
                                        <li>Nulla lacinia iaculis nulla</li>
                                        <li>Cum sociis natoque penatibus</li>
                                        <li>Magnis dis parturient montes</li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>10. Quisque rutrum pellentesque imperdiet?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                            <div class="row">

                                <div class="col-md-4 col-sm-6">

                                    <div class="box-content thumbnail text-center">
                                        <a href="demo_files/images/1200x800/10-min.jpg" class="item-image lightbox" data-plugin-options="{&quot;type&quot;:&quot;image&quot;}">
                                            <img class="img-responsive" src="demo_files/images/451x300/10-min.jpg" alt="">
                                        </a>
                                    </div>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <div class="box-content thumbnail text-center">
                                        <a href="http://www.youtube.com/watch?v=s0MDY9fl-IA" class="item-image lightbox" data-plugin-options="{&quot;type&quot;:&quot;iframe&quot;}">
                                            <img class="img-responsive" src="demo_files/images/451x300/11-min.jpg" alt="">
                                        </a>
                                    </div>

                                </div>

                                <div class="col-md-4 col-sm-6">

                                    <div class="box-content thumbnail text-center">
                                        <a href="demo_files/images/1200x800/25-min.jpg" class="item-image lightbox" data-plugin-options="{&quot;type&quot;:&quot;image&quot;}">
                                            <img class="img-responsive" src="demo_files/images/451x300/25-min.jpg" alt="">
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>11. Iaculis nulla non pulvinar?</label>
                        <div class="toggle-content">
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                    <div class="toggle">
                        <!-- toggle -->
                        <label>12. Lorem ipsum dolor sit amet, consectetur?</label>
                        <div class="toggle-content">
                            <p class="clearfix">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                            </p>

                        </div>
                    </div><!-- /toggle -->

                </div>
                <!-- /TOGGLES -->
                <!-- CALLOUT -->
                <div class="callout alert alert-border margin-top-60 margin-bottom-60">

                    <div class="row">

                        <div class="col-md-9 col-sm-12">
                            <!-- left text -->
                            <h4>Call now at <strong>+800-565-2390</strong> and get 15% discount!</h4>
                            <p class="font-lato size-17">
                                We truly care about our users and our product.
                            </p>
                        </div><!-- /left text -->


                        <div class="col-md-3 col-sm-12 text-right">
                            <!-- right btn -->
                            <a href="#purchase" rel="nofollow" target="_blank" class="btn btn-default btn-lg">PURCHASE NOW</a>
                        </div><!-- /right btn -->

                    </div>

                </div>
                <!-- /CALLOUT -->

            </div>
            <!-- /LEFT COLUMNS -->
            <!-- RIGHT COLUMNS -->
            <div class="col-md-3">

                <!-- POPULAR QUESTIONS -->
                <h4><strong>Poular</strong> Topics</h4>
                <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet.</em></p>

                <hr>

                <ul class="list-unstyled">
                    <!-- block 1 -->
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipiscing elit</a></li>
                    <li><a href="#">Quisque rutrum pellentesque</a></li>
                </ul><!-- /block 1 -->

                <ul class="list-unstyled">
                    <!-- block 2 -->
                    <li><a href="#">Nulla lacinia iaculis nulla</a></li>
                    <li><a href="#">Cum sociis natoque penatibus</a></li>
                    <li><a href="#">Magnis dis parturient montes</a></li>
                </ul><!-- /block 2 -->

                <ul class="list-unstyled">
                    <!-- block 3 -->
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="#">Consectetur adipiscing elit</a></li>
                    <li><a href="#">Quisque rutrum pellentesque</a></li>
                    <li><a href="#">Nulla lacinia iaculis nulla</a></li>
                    <li><a href="#">Cum sociis natoque penatibus</a></li>
                    <li><a href="#">Magnis dis parturient montes</a></li>
                </ul><!-- /block 3 -->

                <hr>

                <!-- ASK A QUSTION -->
                <h4><strong>Ask</strong> a question</h4>
                <form action="#" method="post" class="sky-form clearfix">

                    <label class="input">
                        <i class="ico-prepend fa fa-user"></i>
                        <input type="text" placeholder="Name">
                    </label>

                    <label class="input">
                        <i class="ico-prepend fa fa-envelope"></i>
                        <input type="text" placeholder="Email">
                    </label>

                    <label class="textarea">
                        <i class="ico-prepend fa fa-comment"></i>
                        <textarea rows="3" placeholder="Type your question..."></textarea>
                    </label>

                    <button class="btn btn-primary btn-sm pull-right">SUBMIT YOUR QUESTION</button>

                </form>

            </div>
            <!-- /RIGHT COLUMNS -->

        </div>

    </div>
</section>