<section class="section-xlg">
    <div class="container">
        <h2>Sorry, <strong>The page you requested can not be found!</strong></h2>
        <a class="fs-20 font-lato" href="\">
        <i class="glyphicon glyphicon-menu-left mr-10 fs-16"></i> back to homepage</a>
    </div>
</section>