<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources />
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>  
  <packageSources>  
       <!--<add key="local packages Yordan" value="C:\Projects\corewebtest\DimoPdfToExcelSln\DimoPdfToExcelWeb\NugetLocalPackages" />  -->
       <add key="local packages Azure" value="D:\home\site\repository\DimoPdfToExcelSln\DimoPdfToExcelWeb\NugetLocalPackages" />  
       <add key="NuGet official package source" value="https://nuget.org/api/v2/" />  
       <add key="telerik.comConfig" value="https://nuget.telerik.com/nuget" />  
  </packageSources>
  <packageSourceCredentials>
    <telerik.comConfig>
      <add key="Username" value="v.gerginov@omegasoft.bg" />
      <add key="ClearTextPassword" value="vzloQy" />
    </telerik.comConfig>
  </packageSourceCredentials>
</configuration>