<section id="features">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>finXpro</h2>
            <p class="lead font-lato">Convert financial pdf files to excel in seconds.</p>

            <hr>
        </header>

        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
                    <h4>Perfect quality</h4>
                    <p>Result excel file is checked for corect data.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
                    <h4>How to convert a PDF to excel</h4>
                    <p>Just drag-and-drop your PDF file, wait for the conversion to complete and download your file. It's that simple.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i>
                    <h4>High availabilty</h4>
                    <p>Backed up by the Azure cloud finXpro.com has a 99.99 % availability.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>
                    <h4>Security guaranteed</h4>
                    <p>Your files will be permanently deleted from our server after the conversion. No one has access to your files and privacy is 100% guaranteed.</p>
                </div>
            </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-trophy"></i>
                    <h4>All platforms supported</h4>
                    <p>finXpro.com is browser-based and works for all platforms. It doesn’t matter if you use Mac, Windows or Linux.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-gears"></i>
                    <h4>Responsive</h4>
                    <p>finXpro.com looks great on a monitor, laptop or phone.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-tools"></i>
                    <h4>In the cloud</h4>
                    <p>All the file conversion takes place in the cloud and will not consume any capacity from your own computer.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-layers"></i>
                    <h4>SSL certificates</h4>
                    <p>SSL certificates protect your customers, help protect you, and help you to gain your customers trust and sell more.</p>
                </div>
            </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
    </div>
</section>