<section id="slider" class="height-350" style="background: url(&quot;demo_files/images/particles_bg.jpg&quot;); height: 603px;">
    <span class="overlay dark-2"><!-- dark overlay [0 to 9 opacity] --></span>

    <canvas id="canvas-particle" data-rgb="156,217,249" width="1297" height="603"><!-- CANVAS PARTICLES --></canvas>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <h1 class="m-0 wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    finXpro<br />
                    <!--
                        TEXT ROTATOR
                        data-animation="fade|flip|flipCube|flipUp|spin"
                    -->
                    <span class="rotate " data-animation="fade" data-speed="1500">
                        CRM software, Warehouse software, Payroll solutions, Human Resources solutions, Building interfaces, Export/Import tools, Integration and support, SSL certificates
                    </span>
                </h1>

                @*<p class="lead font-lato fs-30 wow fadeInUp animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                        Over <span class="countTo" data-speed="4000">550</span> html files!
                        <span class="theme-color fw-400 font-style-italic">Admin included</span> &amp; RTL
                    </p>

                    <a class="btn btn-default btn-lg" href="#">PURCHASE NOW</a>*@
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2>finXpro</h2>
            <p class="lead font-lato">
                We offer tailor-made solutions for the digitalization and automation of your business processes.
                We help building and connecting your software infrastructure, to exploit maximal utility and enable you to focus on your core activities.
            </p>

            <hr>
        </header>

        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-circle-compass"></i>
                    <h4>CRM software</h4>
                    <p>
                        Nowadays, the Customer Relationship Management software is in the heart of every service-oriented company.
                        We design, create and deliver solutions, specially made to care for the specifics of your business.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-piechart"></i>
                    <h4>Warehouse software</h4>
                    <p>
                        We support you in managing your inventory.
                        Know at any moment the precise quantity of your supplies: on the road, in the warehouse, in process of production.
                        With various options for customization, together we chose the most appropriate set-up for your company.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-strategy"></i>
                    <h4>Payroll solutions</h4>
                    <p>Manage the salary and social security payments for your employees.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-streetsign"></i>
                    <h4>Human Resources solutions</h4>
                    <p>
                        If your activity involves recruiting of significant number of employees, done through a multi-level process, we have the right solution for you.
                        Allowing you to follow all applications at various stages of the process.
                        Many options for flagging, alert sending, automatic data extraction and others.
                    </p>
                </div>
            </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-trophy"></i>
                    <h4>Building interfaces</h4>
                    <p>
                        We connect your systems and software to enable automatic interaction and data transfer.
                        The proper interface is very important for the proper functioning of software, which is of essential importance to your business.
                        Our solutions comply with the latest IT security standards.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-gears"></i>
                    <h4>Export/Import tools</h4>
                    <p>Our tools help you in exporting data from standard formatting PDF files, web-sites, data-bases and import it in your CRM or other systems.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-tools"></i>
                    <h4>Integration and support</h4>
                    <p>
                        We provide full assistance for the integration of our solutions in your software environment.
                        Also we guarantee the support of our products in accordance with the agreed terms and conditions.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-center">
                    <i class=" ico-lg ico-rounded ico-hover et-layers"></i>
                    <h4>SSL certificates</h4>
                    <p>SSL certificates protect your customers, help protect you, and help you to gain your customers trust and sell more.</p>
                </div>
            </div>
        </div>
        <!-- /FEATURED BOXES 3 -->
    </div>
</section>