@{
    ViewData["Title"] = "Pdf to Excel";
}

<script type="text/javascript">
    function onError(e) {
        // An array with information about the uploaded files
        var files = e.files;

        if (e.operation == "upload") {
            alert("Failed to upload " + files.length + " files");
        }
    }
</script>

<div class="k-block k-info-colored">Please upload INPUT EXAMPLE 1.pdf and click 'Download Excel' button.</div>
<hr />
<form method="post" action='@Url.Action("Submit")'>
    <div class="demo-section k-content">
        @(Html.Kendo().Upload()
            .Name("files")
            .HtmlAttributes(new { accept = "*.pdf" })
            .Async(a => a
                .Save("ChunkSave", "Upload")
                .Remove("Remove", "Upload")
                
                //.ChunkSize(2000)
            )
            .Validation(v => v.AllowedExtensions("pdf"))
            .Events(e => e.Error("onError"))
            //.Directory(true)
            //.DirectoryDrop(true)
            .Deferred()
        )
        @*<p style="padding-top: 1em; text-align: right">
            <input type="submit" value="Submit" class="k-button" />
        </p>*@

        @*@Html.ActionLink("Download Excel", "Upload", "Excel")*@
        <hr />
        <a asp-controller="Upload" class="k-button"
           asp-action="Excel">Download Excel</a>

    </div>
</form>